* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    background-color: #412567;
    align-items: center;
     max-width: 1600px;
    margin: 0 auto; 
    width: 100%;
    padding: 20px;
    
}

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    text-align: center;
}
.tech{
    /* color: white; */
    font-size: 2rem;
    font-weight: 600;
    margin-left: 200px;
}
.navt{
    background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-btn{
    margin-right: 200px;
    color: white;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 60px;
}
.linear{
    background: linear-gradient(#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
}
/* banner related styles */
.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/hero-bg.png);
    max-width: 1600px;
    margin: 0 auto;
}
.circle{
    position: relative;
    right: -65px;
}
.micro{
    position: relative;
    right: 165px;
    top: -90px;
}
.banner-content{
    padding-top: 30px;
    padding-bottom: 50px;
}
.new{
    background-color: #00FF88;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    top: 55px;
    right: -90px;
    z-index: 5;
}


.banner-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 15px;
}
.ban-btn{
    text-align: center;
    padding-top: 20px;
}
.spotify{
    margin-right: 20px;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.sub{
    background-color: #1A0B2E;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 10px;
    padding: 5px;
}
/* about part styles */
.about{
    background-color: #1A0B2E;
    max-width: 1600px;
    /* max-height: 646px; */
    margin: 0 auto;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 60px;
    
}
.about-title,.about-description{
    color: white;
    margin-bottom: 10px;
}
.about-title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0px;
    
}
.about-content{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
}
.about-numbers{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
    width: 100%;
    
}
.numbers p{
    color: white;
}
.num-title{
    font-weight: 600;
    font-size: 2rem;
}
.star{
    background-color: #00FF88;
}
/* shared styles */
.color-white{
    color: white;
}
.light-green{
    color: #00FF88;
}
    /* choose part styles */
.why-choose{
    background-color: #230E3D;
    max-width: 1600px;
    margin: 0  auto;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
}
.why-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
    box-sizing: border-box;
    
}
.choose{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.cards-1{
    grid-column: span 1;
    grid-row: span 2;
}
.cards-2,.cards-3,.cards-5{
    grid-column: span 2;
    grid-row: span 1;
}
.cards-4{
    grid-column: span 1;
    grid-row: span 1;
}


.common{
    border: 1px solid #230E3D;
    border-radius: 20px;
    box-shadow: 2px black;
    background-color: #351165;
    padding: 40px;
}

/* featured styles */
.feature{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
    
}
.feature-card{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.common-1{
    width: 380px;
    height: 480px;
    border: none;
    border-radius: 20px;
    background-color: #351165;
    padding: 20px;
}
/* host part styles */
.host{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.host-title{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    
}
.host-content{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #412567;
    border-radius: 30px;
    display: flex;
    gap: 20px;
    padding: 10px;
}
.text{
    margin-top: 40px;
}
.s-link{
    gap: 10px;
    display: flex;
    margin-top: 10px;
}
/* foot styles */
.foot{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.foot-con{
    position: relative;
    top: -300px;

}
.s-link-2{
    display: flex;
    gap: 50px;
    margin-top: 27px;
    margin-bottom: 30px;
}
.jaker{
    display: flex;
}
.foot-title{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}
.foot-copy{
    text-align: center;
}

/* responsive design */
@media screen and (max-width:576px){
    .about .about-numbers{
        grid-template-columns: repeat(2,1fr);
    }
    .choose{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-card{
        grid-template-columns: repeat(1,1fr);
        margin-left: 40px;
        gap: 30px;
    }
    .feature-title{
        font-size: 2rem;
        font-weight: 600;
    }
    .host-content{
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
    .s-link{
        justify-content: center;
        align-items: center;
        padding: 30px;
        
    }
    .host-img{
        padding-top: 30px;
    }
    .foot-img{
        max-width: 576px;
    }
    .foot-title{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    }
    .s-link-2{
        display: grid;
        grid-template-columns: repeat(2,50px);
        gap: 50px;
        row-gap: 10px;
        margin-top: 5px;
        margin-bottom: 8px;
    }
    .foot-copy{
        font-size: 0.5rem;
    }
    .foot-con{
        position: relative;
        top: -130px;
    }

}